.photoButton {
  padding: 0 !important;
  border: 2px dashed var(--light-gray-16-color) !important;
  z-index: 2 !important;
  background: none !important;
}

.photoButtonChosen {
  border: none !important;
}

.photoButtonImage {
  height: 100% !important;
  object-fit: cover !important;
}

.book {
  width: 156px !important;
  border-radius: var(--mantine-radius-sm) !important;
  aspect-ratio: 0.69 !important;
  height: auto !important;
}

.avatar {
  width: 120px !important;
  height: 120px !important;
  border-radius: 100% !important;
  aspect-ratio: 1 !important;
}

@media (min-width: 768px) {
  .book {
    object-fit: cover !important;
    min-width: 80px !important;
    max-width: 250px !important;
    width: 100% !important;
  }
}