.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.4s;
}

.fill {
  background-color: var(--white-80-color);
}

.fill:hover {
  background-color: #f9f9f9;
}

.flat {
  background: none;
}

.flat:hover {
  background-color: var(--white-80-color);
}