.root {
  gap: 40px;
  padding: 0;
}

.header {
  padding: var(--mantine-spacing-xs);
  background: var(--white-color);
  border-radius: var(--mantine-spacing-xl);
}

.hero {
  background: var(--rainbow-color);
  width: 100%;
  min-height: fit-content;
  height: 100vh;
  max-height: 1000px;
  border-radius: 0 0 var(--mantine-radius-md) var(--mantine-radius-md);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
}

.heroBlock {
  max-width: 1300px;
  width: 100%;
  padding: var(--mantine-spacing-md);
}

.heroContent {
  gap: var(--mantine-spacing-md);
}

.block {
  padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  max-width: 1300px;
  width: 100%;
}

.featureBlockImageWrapper {
  border-radius: var(--mantine-spacing-xxl);
  border: 2px solid var(--light-gray-16-color);
  max-width: 600px;
  width: 100%;
}

.featureBlockImage {
  aspect-ratio: 1;
}

.logo {
  width: 60px !important;
  height: 60px !important;
}

.actions {
  display: none;
}

.burger {
  display: block;
}

.creators {
  display: flex;
  flex-direction: column;
  border-radius: var(--mantine-radius-md);
  overflow: hidden;
}

.firstCreator, .secondCreator {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--mantine-spacing-xl);
  gap: var(--mantine-spacing-md);
  width: 100%;
}

.firstCreator {
  background: var(--light-yellow-color);
}

.secondCreator {
  background: var(--light-pink-color);
}

.avatar {
  width: 100px;
  height: 100px;
  aspect-ratio: 1;
}

.footer {
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-xl) 0 0;
}

@media (min-width: 600px) {
  .root {
    gap: 60px;
  }

  .block {
    padding: var(--mantine-spacing-md);
  }

  .logo {
    width: 80px !important;
    height: 80px !important;
  }

  .header {
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
  }
}

@media (min-width: 1024px) {
  .root {
    gap: 80px;
  }

  .actions {
    display: flex;
  }

  .burger {
    display: none;
  }

  .creators {
    flex-direction: row;
  }

  .header {
    padding: var(--mantine-spacing-md) var(--mantine-spacing-xl);
  }

  .heroBlock {
    padding: var(--mantine-spacing-xl);
  }

  .block {
    padding: var(--mantine-spacing-md) var(--mantine-spacing-xl);
  }

  .heroContent, .block {
    gap: var(--mantine-spacing-md);
  }

  .avatar {
    width: 150px;
    height: 150px;
  }

  .logo {
    width: auto !important;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}