.menu {
  border-radius: var(--mantine-radius-sm) 0 0 0;
}

.menuRoot {
  background: none;
  gap: var(--mantine-spacing-sm);
  height: 100%;
}

.menuLabel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  gap: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-md);
  color: var(--primary-color);
}

.menuControl {
  max-height: 50px;
}

.menuControl:has(input[value='/profile']) {
  margin-bottom: auto;
}

.menuIndicator {
  background-color: var(--light-gray-9-color);
  animation: show 0.7s;
  animation-fill-mode: forwards;
  box-shadow: none;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
}

.menuDivider {
  height: 100%;
  width: 0px;
  background-color: var(--mantine-color-gray-3);
  margin: 0;
  pointer-events: none;
}