.content {
    border-radius: 16px 16px 0 0;
    background: var(--white-color, #fff);
    width: 100%;
    min-width: 240px;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo {
    /*width: 80px;*/
    /*aspect-ratio: 1;*/
    /*object-fit: contain;*/
}

.title {
    margin: 24px 0 0;
    color: #000;
    font: 22px Unbounded, sans-serif;
}

.inputBlock {
    margin: 16px 0 0;
    display: flex;
    flex-direction: column;
}

.inputLabel {
    color: var(--gray-color);
}

.input {
    margin: 4px 0 0;
    padding: 12px 8px;
    min-height: 48px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--gray-80-color);
    color: var(--light-gray-color, #adadad);
}

.primaryButton {
    margin: 16px 0 0;
    padding: 16px 20px;
    width: 100%;
    min-height: 50px;
    border-radius: 16px;
    background: var(--black-color);
    color: var(--white-color);
    border: none;
    cursor: pointer;
}

.secondaryButton {
    margin: 16px 0 0;
    padding: 16px 20px;
    width: 100%;
    min-height: 50px;
    border-radius: 16px;
    border: 1px solid var(--light-gray-color);
    background: transparent;
    color: var(--black-color);
    cursor: pointer;
}

.divider {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 16px 0 0;
    color: var(--light-gray-color);
}

.dividerLine {
    flex: 1;
    height: 1px;
    background-color: rgba(218, 218, 218, 0.8);
    border: none;
}

.dividerText {
    white-space: nowrap;
}