.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: var(--mantine-spacing-md);
}

.photoButton {
  width: 120px !important;
  height: 120px !important;
  padding: 0 !important;
}

.imageCover {
  width: 100% !important;
  object-fit: cover !important;
}