.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: var(--mantine-spacing-md);
  transition: height 0.2s ease;
}

.formCenter {
  align-items: center;
}

.formPadding {
  padding: var(--mantine-spacing-md) 0px var(--mantine-spacing-xl) 0px;
}

.desktopFileButton {
  display: none !important;
}

.bookAddForm {
  gap: 0;
}

@media (min-width: 768px) {
  .desktopFileButton {
    display: block !important;
  }

  .bookContentAddition {
    align-items: flex-start !important;
    flex-direction: row !important;
  }
}