.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: var(--mantine-spacing-md);
}

.formCenter {
  align-items: center;
}

.formPadding {
  padding: var(--mantine-spacing-md) 0px var(--mantine-spacing-xl) 0px;
}