.content {
  border-radius: 16px 16px 0 0;
  background: var(--white-color);
  align-self: stretch;
  min-width: 240px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  padding: 16px 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}