.navbarRoot {
  border: 1px solid var(--light-gray-16-color);
  background-color: var(--white-80-color);
  backdrop-filter: blur(8px);
  padding: 8px 4px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}

.navbarLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 0 4px;
  padding: 0;
}

.navbarIndicator {
  background-color: var(--light-gray-9-color);
  animation: show 0.7s;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}