.page {
    width: 360px;
    display: flex;
    padding-top: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    background: var(--rainbow-color);
}

.content {
  display: flex;
  padding: 16px;
  border-radius: 16px 16px 0 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  background: white;
}
