.avatarButton {
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 2px dashed var(--light-gray-color, #adadad);
  display: flex;
  width: 120px;
  height: 120px;
  background: transparent;
  cursor: pointer;
}

.uploadedPhoto {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 100px;
}
