.bookCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 98px;
  cursor: pointer;
}

.bookInfo {
  align-self: stretch;
}

.bookCover {
  width: 98px;
  height: 140px;
  border-radius: 8px;
  object-fit: cover;
}

.bookText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}