.navbarRoot {
  border: 1px solid var(--gray-80-color);
  background-color: var(--white-80-color);
  backdrop-filter: blur(8px);
  padding: 8px 4px;
  position: absolute;
  bottom: 16px;
  left: 14%;
}

.navbarLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  margin: 0 4px;
  padding: 0;
}

/*
.navbarIndicator {
  background-color: var(--gray-50-color);
}
  */