/* Common variables */
:root {
  --transition-duration: 0.2s;
  --transition-timing: ease-in-out;
}

/* AppShell styles */
.appShell {
  display: flex;
  gap: 0;
}

.main {
  padding: 0;
  width: 100%;
  max-width: 360px;
  /*margin-right: auto;*/
  margin: 0 auto;
}

.menu {
  position: relative;
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-lg);
  margin-left: auto;
}

/* Modal styles */
.modal {
  display: flex;
  color: var(--primary-color);
  border-radius: var(--mantine-spacing-md);
}

.modalContent {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md) var(--mantine-spacing-lg) var(--mantine-spacing-md);
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.modalHeader {
  padding: 0;
  padding-bottom: var(--mantine-spacing-sm);
}

.modalBody {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  overflow-y: auto;
}

.modalClose {
  padding: var(--mantine-spacing-sm);
  color: var(--primary-color)
}

/* Title styles */
.title {
  color: var(--primary-color);
}

/* Text styles */
.text {
  color: var(--primary-color);  
  line-height: 120%;
}

/* Card styles */
.card {
  padding: 0;
}

/* Button styles */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--mantine-spacing-md);
  gap: var(--mantine-spacing-sm);
  padding: 0 var(--mantine-spacing-lg);
  height: 50px;
  transition: all var(--transition-duration) var(--transition-timing);

  &[data-variant='filled'] {
    background-color: var(--primary-color);
    color: var(--white-color);

    &:hover {
      background-color: var(--black-color);
    }

    &:disabled {
      background-color: var(--light-gray-9-color);
      color: var(--disabled-text-color);
    }

    &[data-loading] {
      background-color: var(--primary-color);
      color: var(--white-color);
    }
  }

  &[data-variant='white'] {
    background-color: var(--white-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--light-background-color);
    }

    &:disabled {
      color: var(--disabled-text-color);
    }

    &[data-loading] {
      background-color: var(--white-color);
      color: var(--primary-color);
    }
  }

  &[data-variant='outline'] {
    background-color: var(--white-color);
    border: 1px solid var(--light-gray-16-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--light-background-color);
    }

    &:disabled {
      color: var(--disabled-text-color);
      background-color: var(--light-background-color);
    }

    &[data-loading] {
      background-color: var(--white-color);
      color: var(--primary-color);
    }
  }
}

/* ActionIcon styles */
.actionIcon, .modalClose {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
  border-radius: 100%;
  transition: all var(--transition-duration) var(--transition-timing);

  &[data-variant='transparent'] {
    color: var(--primary-color);

    &:hover {
      color: var(--black-color);
    }

    &:disabled {
      color: var(--disabled-text-color);
    }
  }

  &[data-variant='white'] {
    background-color: var(--white-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--light-background-color);
      color: var(--black-color);
    }

    &:disabled {
      background-color: var(--light-background-color);
      color: var(--disabled-text-color);
    }
  }
}

/* Menu styles */
.menuDropdown {
  display: inline-flex;
  padding: var(--mantine-spacing-xs);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--white-color);
  color: var(--primary-color);
  box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.16);
}

.menuItem {
  display: flex;
  padding: var(--mantine-spacing-sm);
  align-items: center;
  gap: var(--mantine-spacing-sm);
  border-radius: var(--mantine-spacing-sm);
  transition: all var(--transition-duration) var(--transition-timing);

  &:hover {
    background-color: var(--light-background-color);
  }
}

/* Input styles */
.input {
  display: flex;
  min-height: 48px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: var(--mantine-spacing-xs);
  border: 1px solid var(--light-gray-16-color);
  color: var(--primary-color);
  transition: all var(--transition-duration) var(--transition-timing);

  &::placeholder {
    color: var(--disabled-text-color);
  }

  &:focus {
    border-color: var(--black-color);
    color: var(--primary-color);
  }

  &[data-error] {
    border-color: var(--red-color);
    --input-placeholder-color: var(--disabled-text-color) !important;
  }

  &:disabled {
    background-color: var(--light-background-color);
    color: var(--disabled-text-color);
  }
}

.inputWrapper {
  width: 100%;
}

.inputLabel, .inputError {
  font-size: var(--mantine-font-size-md);
  font-weight: var(--mantine-font-weight-sm);
  line-height: var(--mantine-line-height-md);
}

.inputLabel {
  color: var(--secondary-text-color);
}

.inputError {
  color: var(--red-color);
}

.visibilityToggle {
  width: 40px;
  height: 40px;
  padding: 0;
}

/* Link styles */
.anchor {
  text-decoration: none !important;
  transition: color var(--transition-duration) var(--transition-timing);
  color: var(--primary-color);
}

.anchor::after {
  content: '';
  display: block;
  width: 0;
  height: 1.5px;
  background: var(--black-color);
  transition: .3s;
}

.anchor:hover {
  color: var(--black-color);
}

.anchor:hover::after {
  width: 100%;
  transition: .3s;
}

/* Loader styles */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  --loader-color: var(--primary-color);
}

/* Divider styles */
.divider {
  align-self: stretch;
  --divider-color: var(--light-gray-16-color);
}

.dividerLabel {
  font-size: var(--mantine-font-size-sm);
  color: var(--secondary-text-color);
}

/* Tabs styles */
.tabsRoot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--mantine-spacing-md);
}

.tabsList {
  display: flex;
  align-items: flex-start;
  gap: var(--mantine-spacing-sm);
}

.tab {
  display: flex;
  height: 50px;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  border-radius: var(--mantine-spacing-md);
  border: 1px solid var(--light-gray-16-color);
  transition: all var(--transition-duration) var(--transition-timing);

  &[data-active] {
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
  }
}

.badge {
  padding: 0px var(--mantine-spacing-xs);
  gap: var(--mantine-spacing-xs);
  border-radius: var(--mantine-spacing-md);
  color: var(--white-color);
  background: var(--red-color);
}

.badgeLabel {
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
}