/* Common variables */
:root {
  --transition-duration: 0.2s;
  --transition-timing: ease-in-out;
}

/* AppShell styles */
.appShell {
  display: flex;
  gap: 0;
}

.main {
  display: flex;
  padding: 0;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .main {
    margin-left: 0;
    margin-right: auto;
  }
}

.menu {
  display: none;
  height: 100vh;
  position: sticky;
  top: 0;
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-lg);
  margin-left: auto;
  gap: var(--mantine-spacing-lg);
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
  }
}

/* Modal styles */
.modal {
  display: flex;
  color: var(--primary-color);
  border-radius: var(--mantine-spacing-md);
}

.modalContent {
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md) var(--mantine-spacing-lg) var(--mantine-spacing-md);
  overflow-y: auto;
  max-height: calc(100vh - 100px);
}

.modalHeader {
  padding: 0 0 var(--mantine-spacing-sm);
}

.modalBody {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  overflow-y: auto;
}

.modalClose {
  padding: var(--mantine-spacing-sm);
  color: var(--primary-color)
}

.modalOverlay {
  background-color: var(--light-gray-16-color);
}

/* Overlay styles */
.overlay {
  background-color: var(--light-gray-16-color);
}

/* Title styles */
.title {
  color: var(--primary-color);
}

/* Text styles */
.text {
  color: var(--primary-color);  
  line-height: 120%;
  max-width: 800px;
}

/* Card styles */
.card {
  padding: 0;
}

/* Button styles */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--mantine-spacing-md);
  padding: 0 var(--mantine-spacing-lg);
  height: 50px;
  transition: all var(--transition-duration) var(--transition-timing);

  &[data-variant='filled'] {
    background-color: var(--primary-color);
    color: var(--white-color);

    &:hover {
      background-color: var(--black-color);
    }

    &:disabled {
      background-color: var(--light-gray-9-color);
      color: var(--disabled-text-color);
    }
  }

  &[data-variant='white'] {
    background-color: var(--white-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--light-background-color);
    }

    &:disabled {
      color: var(--disabled-text-color);
    }
  }

  &[data-variant='outline'] {
    background-color: var(--white-color);
    border: 1px solid var(--light-gray-16-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--light-background-color);
    }

    &:disabled {
      color: var(--disabled-text-color);
      background-color: var(--light-background-color);
    }
  }
}

.buttonInner {
  display: flex;
  gap: var(--mantine-spacing-sm);
}

/* Burger styles */
.burger {
  height: 50px;
  width: 50px;
}

/* ActionIcon styles */
.actionIcon, .modalClose, .notificationClose {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  min-width: 50px;
  border-radius: 100%;
  transition: all var(--transition-duration) var(--transition-timing);

  &[data-loading] {
    color: var(--primary-color);
  }

  &[data-variant='transparent'] {
    color: var(--primary-color);

    &:hover {
      color: var(--black-color);
    }

    &:disabled {
      color: var(--disabled-text-color);
    }
  }

  &[data-variant='white'] {
    background-color: var(--white-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--light-background-color);
      color: var(--black-color);
    }

    &:disabled {
      background-color: var(--light-background-color);
      color: var(--disabled-text-color);
    }
  }

  &[data-variant='outline'] {
    background-color: var(--white-color);
    border: 1px solid var(--light-gray-16-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--light-background-color);
    }

    &:disabled {
      color: var(--disabled-text-color);
      background-color: var(--light-background-color);
    }
  }
}

/* Menu styles */
.menuDropdown {
  display: inline-flex;
  padding: var(--mantine-spacing-xs);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--white-color);
  color: var(--primary-color);
  box-shadow: var(--shadow);
}

.menuItem {
  display: flex;
  padding: var(--mantine-spacing-sm);
  align-items: center;
  gap: var(--mantine-spacing-sm);
  border-radius: var(--mantine-spacing-sm);
  transition: all var(--transition-duration) var(--transition-timing);

  &:hover {
    background-color: var(--light-background-color);
  }
}

/* Input styles */
.input {
  display: flex;
  min-height: 48px;
  padding-left: var(--mantine-spacing-sm);
  padding-right: var(--mantine-spacing-sm);
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: var(--mantine-spacing-xs);
  border: 1px solid var(--light-gray-16-color);
  color: var(--primary-color);
  transition: all var(--transition-duration) var(--transition-timing);

  &::placeholder {
    color: var(--disabled-text-color);
  }

  &:focus {
    border-color: var(--black-color);
    color: var(--primary-color);
  }

  &[data-error] {
    border-color: var(--red-color);
    --input-placeholder-color: var(--disabled-text-color) !important;
  }

  &:disabled {
    background-color: var(--light-background-color);
    color: var(--disabled-text-color);
  }
}

.inputWrapper {
  width: 100%;
}

.inputLabel, .inputError {
  font-size: var(--mantine-font-size-md);
  font-weight: var(--mantine-font-weight-sm);
  line-height: var(--mantine-line-height-md);
}

.inputLabel {
  color: var(--secondary-text-color);
}

.inputError {
  color: var(--red-color);
}

.visibilityToggle {
  width: 40px;
  height: 40px;
  padding: 0;
}

/* Link styles */
.anchor {
  text-decoration: none !important;
  color: var(--primary-color);
  position: relative;
  align-self: flex-start;

  display: inline-block; /* Важно, чтобы ссылка занимала только необходимую ширину */
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1); /* Определяем easing function */
}

.anchor::before,
.anchor::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem; /* Корректировка положения подчеркивания */
  display: block;
  width: 100%;
  height: 1.5px;
  background: var(--primary-color);
  transition: transform 0.8s var(--ease-out-expo); /* Общая transition */
}

.anchor::before {
  transform: scaleX(0); /* Изначально сжато, не видно */
  transform-origin: left; /* Точка масштабирования слева */
}

.anchor::after {
  transform-origin: right; /* Точка масштабирования справа */
  transition-delay: 0.25s; /* Задержка для второго подчеркивания */
}

.anchor:hover::before {
  transform: scaleX(1); /* Растягиваем при наведении (слева направо) */
  transition-delay: 0.25s; /* Задержка, чтобы сработало после сжатия ::after */
}

.anchor:hover::after {
  transform: scaleX(0); /* Сжимаем при наведении (справа налево) */
  transition-delay: 0s; /* Убираем задержку, сжимаем сразу */
}

/* Loader styles */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Divider styles */
.divider {
  align-self: stretch;
  --divider-color: var(--light-gray-16-color);
}

.dividerLabel {
  font-size: var(--mantine-font-size-sm);
  color: var(--secondary-text-color);
}

/* Tabs styles */
.tabsRoot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--mantine-spacing-md);
  align-self: stretch;
}

.tabsList {
  display: flex;
  align-items: flex-start;
  gap: var(--mantine-spacing-sm);
}

.tab {
  display: flex;
  height: 50px;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  border-radius: var(--mantine-spacing-md);
  border: 1px solid var(--light-gray-16-color);
  transition: all var(--transition-duration) var(--transition-timing);

  &[data-active] {
    border: none;
    background-color: var(--primary-color);
    color: var(--white-color);
  }
}

.tabsPanel {
  align-self: stretch;
}

/* Badge and indicator styles */
.badge, .indicator {
  color: var(--white-color);
  background: var(--red-color);
}

.badgeLabel, .indicatorLabel {
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
}

/* Notification styles */
.notification {
  font-size: var(--mantine-font-size-md);
  background-color: var(--white-color);
  color: var(--primary-color);
  box-shadow: var(--shadow);
}

.notificationDescription {
  color: var(--secondary-text-color);
}