.textGray {
  color: var(--secondary-text-color) !important;
}

.roundRect {
  height: var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-md) var(--mantine-radius-md) 0 0;
  background: var(--white-color);
  align-items: stretch;
  width: 100%;
  margin-top: calc(var(--mantine-spacing-xl) * -1);
  z-index: 1;
}

.anchorGray {
  color: var(--secondary-text-color) !important;

  &:hover {
    color: var(--primary-color) !important;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mantine-spacing-sm);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: var(--mantine-spacing-md);
}

.formCenter {
  align-items: center;
}

.formPadding {
  padding: var(--mantine-spacing-md) 0px var(--mantine-spacing-xl) 0px;
}

.photoButton {
  padding: 0 !important;
  border: 2px dashed var(--light-gray-16-color) !important;
  z-index: 2 !important;
  background: none !important;
}

.photoButtonChosen {
  border: none !important;
}

.photoButtonImage {
  height: 100% !important;
}