:root {
  --rainbow-color: linear-gradient(0deg, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.65) 100%), linear-gradient(90deg, #FEAC5E 0%, #C779D0 50%, #4BC0C8 100%);
  --green-color: #26AD50;
  --red-color: #FF5A49;
  --light-yellow-color: #FDEED9;
  --light-blue-color: #E7ECFF;
  --light-pink-color: #F7E7FF;
  --white-color: #ffffff;
  --white-80-color: rgba(255, 255, 255, 0.8);
  --light-gray-16-color: rgba(0, 0, 0, 0.16);
  --light-gray-9-color: rgba(0, 0, 0, 0.09);
  --light-background-color: #F0F0F0;
  --disabled-text-color: #ADADAD;
  --secondary-text-color: #6A6A6A;
  --primary-color: #222222;
  --black-color: #000000;

  --shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.16);
}

#root {
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  position: relative;
  background-color: var(--light-background-color);
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}