.textGray {
  color: var(--secondary-text-color) !important;
}

.anchorGray {
  color: var(--secondary-text-color) !important;

  &:hover {
    color: var(--primary-color) !important;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mantine-spacing-sm);
}