.header {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.auto {
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.left {
  justify-content: flex-start;
  gap: var(--mantine-spacing-sm);
}

.right {
  justify-content: flex-end;
  gap: var(--mantine-spacing-sm);
}

.withPadding {
  padding: 0 var(--mantine-spacing-md);
}

@media (min-width: 768px) {
  .hideOnDesktop {
    display: none;
  }
}

