.header {
  display: flex;
  min-height: 50px;
  align-items: center;
  align-self: stretch;
}

.auto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.left {
  justify-content: flex-start;
  gap: 8px;
}

.right {
  justify-content: flex-end;
  gap: 8px;
}

.padding {
  padding: 0px 16px;
}