.wrapper {
  display: flex;
  padding: var(--mantine-spacing-md);
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  gap: var(--mantine-spacing-md);
  align-self: stretch;
  border-radius: var(--mantine-spacing-md) var(--mantine-spacing-md) 0 0;
  background: var(--white-color);
}