.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  gap: var(--mantine-spacing-md);
  align-self: stretch;
  border-radius: var(--mantine-spacing-md) var(--mantine-spacing-md) 0 0;
  padding: var(--mantine-spacing-md);
}

.noPaddingVertical {
  padding-top: 0;
  padding-bottom: 0;
}

.noPaddingHorizontal {
  padding-left: 0;
  padding-right: 0;
}

.noGap {
  gap: 0;
}

.left {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.white {
  background: var(--white-color);
}

.none {
  background: none;
}

@media (min-width: 768px) {
  .wrapper {
    padding: var(--mantine-spacing-xl);
    padding-top: 0;
  }
}