.queue {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--light-yellow-color);
}

.avatarStack {
  display: flex;
}

.avatar {
  margin-right: -8px;
}