.title {
  font-family: Unbounded;
  font-size: 22px;
}

.titleWrapper {
  padding: 0px 16px;
}

.description {
  font-size: 18px;
}

.textGray {
  color: var(--gray-color);
}

.textCenter {
  text-align: center;
}

.content {
  display: flex;
  padding: 16px 0px 32px 0px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  background: white;
}
