:root {
  --white-80-color: rgba(255, 255, 255, 0.80);
  --gray-80-color: rgba(218, 218, 218, 0.80);
  --gray-50-color: rgba(218, 218, 218, 0.50);
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: 400;
  line-height: 120%;

  min-width: 360px;
  max-width: 500px;
  min-height: 100vh;
}

div,
span,
iframe,
h1,
h2,
h3,
p,
a,
code,
del,
dfn,
em,
img,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: none;
}

h1 {
  font-family: Unbounded;
  font-size: 22px;
}

p {
  font-size: 16px;
}

.description {
  font-size: 18px;
}

/* Компонент навбара */
.navbar-root {
  border: 1px solid var(--gray-80-color);
  background-color: var(--white-80-color);
  backdrop-filter: blur(8px);
}

.navbar-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.navbar-indicator {
  background-color: var(--gray-50-color);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}