.title {
  font-family: Unbounded;
  font-size: 22px;
}

.titleWrapper {
  padding: 0px 16px;
}

.description {
  font-size: 18px;
}

.textGray {
  color: var(--gray-color);
}

.textCenter {
  text-align: center;
}